.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.icon-close {
  width: 32px;
  height: 32px;
  background-position: 0 0;
}
.icon-Vector-1 {
  width: 26px;
  height: 32px;
  background-position: -48px 0;
}
.icon-Vector-5 {
  width: 4608px;
  height: 32px;
  background-position: 0 -48px;
}
.icon-Vector-4 {
  width: 4608px;
  height: 32px;
  background-position: 0 -96px;
}
.icon-facebook {
  width: 32px;
  height: 32px;
  background-position: 0 -192px;
}
.icon-instagram {
  width: 32px;
  height: 32px;
  background-position: -48px -192px;
}
.icon-twitter {
  width: 32px;
  height: 32px;
  background-position: -96px -192px;
}
.icon-linkedin2 {
  width: 32px;
  height: 32px;
  background-position: -144px -192px;
}

